<phpunit bootstrap="vendor/autoload.php" cacheResultFile=".cache/phpunit/phpunit.result.cache">
    <testsuites>
        <testsuite name="General">
            <!--<file>tests/UCRM/REST/Endpoints/GeneralTests.php</file>-->
        </testsuite>

        <testsuite name="unit">
            <file>tests/UCRM/Common/PluginTests.php</file>


            <file>tests/UCRM/REST/Endpoints/GeneralTests.php</file>
        </testsuite>



    </testsuites>


    <filter>
        <whitelist>
            <file>src/UCRM/Common/Plugin.php</file>


            <file>src/UCRM/REST/Endpoints/General.php</file>
        </whitelist>
    </filter>

</phpunit>